.card {
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    background-color: white;
}
.card:hover {
    filter: brightness(0.85);
}
.card-static-rainbow {
    background: linear-gradient(45deg, red, rgb(255,127,0), yellow, rgb(127,255,0), rgb(0,255,0), rgb(0,255,127), rgb(0,255,255), rgb(0,127,255), blue, rgb(127,0,255), rgb(255,0,255), rgb(255,0,127));
}
.card-dynamic-rainbow {
    background: linear-gradient(90deg, red, rgb(255,127,0), yellow, rgb(127,255,0), rgb(0,255,0), rgb(0,255,127), rgb(0,255,255), rgb(0,127,255), blue, rgb(127,0,255), rgb(255,0,255), rgb(255,0,127), red);
    background-size: 300%;
    animation: rainbow 5s linear infinite;
}
.card-medium{
    width: 250px;
    height: 250px;
    border-radius: 10px;

}
.card-large{
    width: 375px;
    height: 375px;
    border-radius: 15px;

}
.card-small{
    width: 125px;
    height: 125px;
    border-radius: 5px;

}
@keyframes rainbow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 300%;
    }
}
